*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: hsl(30, 38%, 92%);
   min-height: 100vh;
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   background-color: hsl(0, 0%, 100%);
   height: 450px;
   display: flex;
   border-radius: 10px;
}

.card>div {
   width: 300px;
}

.product-image {
   display: flex;
   width: 100%;
   border-radius: 10px 0 0 10px;
   background-image: url(../images/image-product-desktop.jpg);
   background-position: center;
   background-size: cover;
}

.product-about {
   display: flex;
   flex-direction: column;
   padding: 32px;
   justify-content: space-between;
}

.category {
   font-family: Montserrat;
   color: hsl(228, 12%, 48%);
   letter-spacing: 4px;
}

.product_name {
   font-family: Fraunces;
   color: hsl(212, 21%, 14%);
   line-height: 32px;
}

p {
   font-family: Montserrat;
   font-size: 14px;
   font-weight: 500;
   color: hsl(228, 12%, 48%);
}

.product_description {
   line-height: 24px;
   font-size: 14px;
}

.price {
   display: flex;
   align-items: center;
   gap: 24px;
}

.product_price_new {
   font-family: Fraunces;
   font-size: 28px;
   color: hsl(158, 36%, 37%);
}

.product_price_old {
   text-decoration: line-through;
   font-size: 12px;
   display: flex;
   justify-content: center;
}

button:hover {
   background: hsl(156, 86%, 11%);
   cursor: pointer;
}

.add {
   background: hsl(158, 36%, 37%);
   padding: 15px;
   border-radius: 6px;
   border-style: hidden;
   font-family: Montserrat;
   font-weight: 700;
   color: hsl(0, 0%, 100%);
   display: flex;
   align-items: center;
   justify-content: center;
}

.basket_icon {
   padding-right: 10px;
   color: hsl(0, 0%, 100%);
}

/* mobile */
@media (max-width: 376px) {
   .card>div {
      width: 350px;
   }

   .card {
      flex-direction: column;
      height: 640px;
   }

   .product-about {
      height: 400px;
      padding: 28px;
   }

   .product-image {
      background-image: url(../images/image-product-mobile.jpg);
      height: 250px;
      border-radius: 10px 10px 0 0;
   }

   p.product_price_new {
      font-size: 32px;
   }

   p.product_price_old {
      font-size: 14px;
   }
}

@media (max-width: 426px) {
   .card>div {
      width: 350px;
   }

   .card {
      flex-direction: column;
      height: 640px;
   }

   .product-about {
      height: 400px;
      padding: 28px;
   }

   .product-image {
      background-image: url(../images/image-product-mobile.jpg);
      height: 250px;
      border-radius: 10px 10px 0 0;
   }

   p.product_price_new {
      font-size: 32px;
   }

   p.product_price_old {
      font-size: 14px;
   }
}